.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
}
h3{
 font-family: 'Montserrat', sans-serif;
 color: #11999E;
}
a{
  color: #11999E;
}
h1{
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.middle-container{
}
.bottom-container{
  background-color: #66BFBF;
  height: 150px;
  padding: 25px;
  margin-top: 20px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.circle {
    background: #f00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.comp{

  float:left;
  margin-right:30px;
}
.code{
  float:right;
  margin-left:30px;
}
.p1{
  color: #40514E;
}
hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width:5%
}
.BUTTON_OZQ {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 25px;
   font-weight: 100;
   padding: 5px;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_OZQ:hover {
   border: solid #66BFBF 1px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}
.foot{
  color: #EAF6F6;
}
.footer-link{
  padding: 5px;
  text-decoration: none;
}
